.button{
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-max-width: 40;
    -fx-max-height: 40;
    -fx-color: rgb(226, 240, 252);
}

.flag{
    -fx-background-image: url('flag.png'); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.bombs{
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 0, 0);
}

.mine{
    -fx-background-image: url('mine.png'); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.status{
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(115, 87, 214);
}

#number-1{
    -fx-text-fill: blue;
}

#number-2{
    -fx-text-fill: red;
}

#number-3{
    -fx-text-fill: green;
}

#number-4{
    -fx-text-fill: rgb(214, 214, 5);
}

#number-5{
    -fx-text-fill: orange;
}

#number-6{
    -fx-text-fill: purple;
}

#number-7{
    -fx-text-fill: rgb(221, 0, 255);
}

#number-8{
    -fx-text-fill: rgb(147, 0, 81);
}

.button.pressed{
    -fx-color: white;
    /* -fx-border-color: black;
    -fx-border-insets: 1px;
    -fx-border-width: 2px; */
    -fx-border-radius: 0px;
    /* -fx-border-style: "bevel"; */
}